<%- include("partials/header") -%>

<script>
    document.body.style.backgroundColor = "#21d881";
</script>

<div class="title">
    <ul>
        <li>
            <h1 class="about-me">About Me</h1>
        </li>
        <li>
            <p class="square"></p>
        </li>
    </ul>
</div>

<p><%= content %></p>

<%- include("partials/footer") -%>
