<%- include("partials/header") -%>

<script>
    document.body.style.backgroundColor = "#8121d8";
</script>


<div class="contact-body">
    <div class="p-arc"><div class='arc'></div></div>
    <div class="contact-content">
        <ul>
            <a href="mailto:dorshem@me.com"><li>dorshem@me.com</li></a>
            <a href="tel:+972528465299"><li>052 846 5299</li></a>
            <a href="#"><li>Linkedin</li></a>
            <a href="#"><li>Instagram</li></a>
            <a href="#"><li>WhatsApp</li></a>
        </ul>
    </div>
    
</div>





<%- include("partials/footer") -%>
