<%- include("partials/header") -%>

<script>
    document.body.style.backgroundColor = "#8121d8";
</script>

<div class="p-arc"><div class='arc'></div></div>

<div class="contact-body">
    <div class="container">
        <div class="contact-content">
            <ul>
                <a href="mailto:dorshem@me.com"><li class="contact-li">dorshem@me.com</li></a>
                <a href="tel:+972528465299"><li class="contact-li">052 846 5299</li></a>
                <a href="#"><li class="contact-li">Linkedin</li></a>
                <a href="#"><li class="contact-li">Instagram</li></a>
                <a href="#"><li class="contact-li">WhatsApp</li></a>
            </ul>
        </div>
    </div>
    
    
</div>





<%- include("partials/footer") -%>
