<%- include("partials/header") -%>



    <div>
        <p class="homeContent">
        <div class="intro">Hi. My name is Dor Shemesh.</div>
        My specializations include branding and advertising, design
        strategies, and user experience. I bring thought, relevance, and
        style to the brands. My goal is to define the most important,
        genuine quality with which to tell a brand's story intuitively.
        </p>
    </div>


    <!-- Portfolio -->
    <div class="row">

        <div class="post col-lg-6 col-md-12">
            <article class="item">
                <a href="#">
                    <div class="item-img">
                        <img width="100%" height="650" class=" d-block" src="https://files.catbox.moe/bb1ezk.jpg">
                    </div>
                    <div class="item-overlay">
                    </div>
                </a>
            </article>
            <p class="post-title"><a href="#">Link to</a></p>
        </div>


        <div class="post col-lg-6 col-md-12">
            <article class="item">
                <a href="#">
                    <div class="item-img">
                        <img width="100%" height="650" class=" d-block" src="https://files.catbox.moe/zkh5sm.jpg">
                    </div>
                    <div class="item-overlay">
                    </div>
                </a>
            </article>
            <p class="post-title"><a href="#">Link to</a></p>
        </div>


        <div class="post col-lg-6 col-md-12">
            <article class="item">
                <a href="#">
                    <div class="item-img">
                        <img width="100%" height="650" class=" d-block" src="https://files.catbox.moe/t6sleu.jpg">
                    </div>
                    <div class="item-overlay">
                    </div>
                </a>
            </article>
            <p class="post-title"><a href="#">Link to</a></p>
        </div>


        <div class="post col-lg-6 col-md-12">
            <article class="item">
                <a href="#">
                    <div class="item-img">
                        <img width="100%" height="650" class=" d-block" src="https://files.catbox.moe/b7gkju.jpg">
                    </div>
                    <div class="item-overlay">
                    </div>
                </a>
            </article>
            <p class="post-title"><a href="#">Link to</a></p>
        </div>

        <%- include("partials/footer") -%>