<%- include("partials/header") -%>

<h1>New Post</h1>
<form action="/newpost" method="post">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" class="form-control" name="postTitle">
      </div>
      <div class="form-group">
        <label for="postText">Post</label>
        <textarea class="form-control" name="postText" cols="40" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>
